@media screen and (min-width: 768px) and (max-width: 1199px) {

    .container {
        padding: 0 1rem;
        max-width: 1200px;
        width: 100%;
    }
    h3 {
        margin-bottom: 1rem;
    }

    /* _______HEADER_______ */

    .registerMenu {
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .underline {
        position: absolute;
        top: 90px;
        right: 20px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .navItem {
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    .navItem > a {
        color:#0065FC;
    }
    .navItem > a:hover {
        color: #0065FC;
    }
    .navItem:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -moz-transform: scale(1.05);
    }
    .navItemUnderline1, .navItemUnderline2 {
        font-weight: bold;
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #f2f2f2;
    }
    .navItemUnderline1 > a, .navItemUnderline2 > a {
        color: black;
    }
    .navItemUnderline1 > a:hover, .navItemUnderline2 > a:hover {
        color: #0065FC;
    }
    .navItemUnderline1:hover, .navItemUnderline2:hover{
        border-bottom: 2px solid blue;
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -moz-transform: scale(1.05);
    }
    
    /* ____________________ */


    /* ________MAIN________ */

    #block1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 1.5rem;
    }

    .info {
        font-size: x-large ;
        text-align: justify;
    }

    /* ##### SearchBar ##### */
    .inputGroup {
        display: flex;
        flex-direction: row;
        width: 350px;
        margin-top: 1rem;
        margin-bottom: 1rem; 
    }
    .btnHere {
        width: 50px;
        height: 40px;
        color :black;
        border-radius: 10px 0 0 10px;
        border:none;
    }
    .btnHere:hover{
        cursor:pointer;
    }
    .search {
        width: 250px;
    }
    .searchBarZoneFormInput {
        border-color: #F2F2F2;
    }
    .btnSearch {
        width: 100px;
        height: 40px;
        background-color : #0065FC;
        color: white;
        border-radius : 0 10px 10px 0;
        border:none;
    }
    .btnSearch:hover{
        cursor:pointer;
    }
    .btnloupe {
        display: none;
    }
    
    /* ################# */

    /* ##### Filters ##### */
    .filters {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 768px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .filters > h4 {
        margin-top : 0.7rem
    }
    .filters > a:hover {
        text-decoration: none;
    }
    .filtersTitle >h4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filtersItem {
        display: flex;
        align-items: center;
        border-right: 2px solid #F2F2F2;
        border-top: 2px solid #F2F2F2;
        border-bottom: 2px solid #F2F2F2;
        height: 40px;
        padding-right: 10px;
        border-radius: 20px;
        color : black;
        
    }
    .filtersItem:hover{
        transform: scale(1.10);
        -ms-transform: scale(1.10);
        -webkit-transform: scale(1.10);
        -o-transform: scale(1.10);
        -moz-transform: scale(1.10);
        
    }
    .filtersItemIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DEEBFF;
        color :#0065FC;
        height: 100%;
        width: 40px;
        border-radius: 40px;
        margin-right: 10px;
    }
    .filtersItemH3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: bold;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    /* ################### */

    .information {
        margin : 0 0 1rem 1rem; 
    }
    .fa-info {
        width: 20px;
        margin-right: 0.5rem;
        color : #0065FC;
        border : 1px grey solid;
        border-radius: 18px;
    }
    .fa-info:before {
        margin: 0.2rem 0 0.2rem 0.5rem;
        font-size: 0.8rem;
    }


    /* ####### Hosting ####### */
    #block2 {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
    }
    .hosting {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 95%;
        background-color: #F2F2F2;
        border-radius: 20px
    }
    .hosting > a > h5 {
        margin: 1rem 0 1rem 1.3rem;
    }

    .hostingTitle {
        margin : 1rem 0 0 1.3rem;
    }

    .hostingItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .hostingCard {
        border-radius: 20px;
        height: 230px;
        min-width: 250px;
        width: 35%;
        border-radius: 1rem;
        background-color: white;
        border: 2px solid #f2f2f2;
        padding: 0.3rem;
        margin-bottom: 1rem;
    }
    .hostingCard:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -moz-transform: scale(1.05);
    }

    .hostingCardImg {
        height: 60%;
        width: 100%;
        background-size: 105%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1rem 1rem 0 0;
    }

    .hostingCardBody {
        height: calc(40% - 0.5rem);
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hostingCardBodyH5 {
        margin: 0;
        font-size: 100%;
        font-weight: bold;
        color: black;
    }
    .hostingCardBodyP {
        font-size: 80%;
        margin: 0;
        color: black;
    }

    .showMore {
        margin : 0 0 1rem 2rem;
        width: 120px;
    }
    .showMore > a {
        color: black;
        font-size: 1.2rem;
    }
    .showMore > a:hover {
        color : #0065FC;
    }
    .showMore:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -moz-transform: scale(1.05);
    }
    /* ################### */

    /* ####### Most popular ####### */
    .mostPopular {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        width: 95%;
        border-radius: 20px;
        padding-bottom:2rem;
        margin-bottom: 1rem;
    }
    .mostPopularTitle {
        display: flex;
        justify-content: space-between;
        margin: 1rem 1rem 0 1rem;
    }
    .mostPopularTitleIcon {
        display: flex;
        align-items: center
    }
    .fa-chart-line {
        font-size: 1.5rem;
    }

    .mostPopularCardSection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
    .mostPopularCard {
        display: flex;
        flex-direction: row ;
        height: 150px;
        width: 90%;
        border-radius: 20px ;
        background-color: white;
        border: 2px solid #f2f2f2;
        margin-bottom: 0.5rem !important;
    }
    .mostPopularCard:last-child {
        margin: 0 0 0 1rem;
    }
    .mostPopularCard:hover {
        transform: scale(1.02);
        -ms-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -o-transform: scale(1.02);
        -moz-transform: scale(1.02);
    }
    .mostPopularCardImg {
        height: 100%;
        width: 140px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px 0 0 20px;
    }
    .mostPopularCardBody {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding : 0.5rem 1rem;
    }
    .mostPopularCardBodyTop > p {
        font-size: 80%;
        margin: 0;
        color: black;
    }
    
    
    /* ################### */

    /*######## Activités ######*/
    #block3  {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .activitiesTitle {
        margin : 1rem 0 1rem 1.3rem;
    }

    .activitiesCardSection  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .activitiesCardDuo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:40%;
    }

    .activitiesCard {
        order: 1;
        border-radius: 20px;
        border: 1px #f2f2f2 solid;
        box-shadow: 2px 2px 2px #f2f2f2;
        margin-bottom: 1rem;
    }
    .activitiesCard > a {
        color: black;
        font-weight: bold;
    }
    .activitiesCard:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -moz-transform: scale(1.05);
    }
    .activitiesCardg1 {
        height: 250px;
        width: 40%;
    }
    .activitiesCardg2 {
        height: 290px;
        width: 100%;
    }
    .activitiesCardg3 {
        height: 380px;
    }
    .activitiesCardg4 {
        height: 200px;
    }

    .activitiesCardImg {
        background-size: cover;
        border-radius: 20px 20px 0 0;
        background-position: center;
    }
    .activitiesCardImg1 {
        height: 210px;
    }
    .activitiesCardImg2{
        height: 250px;
    }
    .activitiesCardImg3 {
        height: 340px;
    }
    .activitiesCardImg4 {
        height: 160px;
    }
    /* ################### */

    /* _______FOOTER_______ */

    footer {
        height: 180px;
        display: flex;
        background-color: #F2F2F2;
        justify-content: space-between;
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .footerSection {
        width: 32%;
    }

    .textFooter {
        margin-top: 0.5rem;
    }
    .textFooter > a {
        color: black;
    }
    .textFooter > a:hover {
        color : #0065FC;
    }
    .textFooter:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -moz-transform: scale(1.05);
    }

    /* _______________________ */
}