/*__________ reset CSS ___________*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {  
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline; 
 }
@font-face {
    font-family: "Raleway", sans-serif;
    src:
        url(Fonts/Raleway-VariableFont_wght.ttf)
        url(Fonts/Raleway-Italic-VariableFont_wght.ttf)
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Raleway";
    }
.pageOne {
    padding-left: 2rem;
    width: 1240px;
}
h3 {
    font-weight: bold;
    font-size: 1.5rem;

}
a:link 
{ 
    text-decoration:none; 
} 
.fa-star {
    color:#0065FC;
}
/* _______HEADER_______ */

.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo{
    height: 50px;
}
.logoImg {
    height: 100%;
}
.registerMenu {
    width: 30%;
    height: 50px;
    margin: 20px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 1rem;
}
.underLine {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navItem {
    font-weight: bold;
}
.navItem > a {
    color: black;
}
.navItem > a:hover {
    color: #0065FC;
}
.navItem:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.navItemUnderline {
        font-weight: bold;
}
.navItemUnderline > a {
    color: black;
}
.navItemUnderline > a:hover {
    color: #0065FC;
}
.navItemUnderline:hover {
    border-top: 2px solid blue;
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.navItemUnderline{
    margin-right: 3rem;
}


/* ____________________ */


/* ________MAIN________ */

/*_________partie recherche et filtres____*/
#block1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info {
    font-size: x-large ;
    text-align: justify;
}
.inputGroup {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.btnHere {
    width: 50px;
    height: 40px;
    color :black;
    border-radius: 10px 0 0 10px;
    border:none;
}
.btnHere:hover{
    cursor:pointer;
}

.search {
    width: 250px;
}
.formControl {
    border-color: #F2F2F2;
}
.btnSearch {
    width: 100px;
    height: 40px;
    background-color : #0065FC;
    color: white;
    border-radius : 0 10px 10px 0;
    border:none;
}
.btnSearch:hover{
    cursor:pointer;
}
.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
 .filters > h4 {
     margin-top : 0.7rem
 }
.filters > a:hover {
    text-decoration: none;
}

.filtersItem {
    display: flex;
    align-items: center;
    border-right: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    height: 40px;
    padding-right: 10px;
    border-radius: 20px;
    color : black;
       
}
.filtersItem:hover{
    transform: scale(1.10);
	-ms-transform: scale(1.10);
	-webkit-transform: scale(1.10);
	-o-transform: scale(1.10);
    -moz-transform: scale(1.10);
    
}
.filtersItemIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color :#0065FC;
    height: 100%;
    width: 40px;
    border-radius: 40px;
    margin-right: 10px;
}
.filtersItemH3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 100%;
    margin: 0;
	padding: 0;
}


.information {
    margin : 0 0 1rem 1rem; 
}
.fa-info {
    width: 20px;
    margin-right: 0.5rem;
    color : #0065FC;
    border : 1px grey solid;
    border-radius: 100%;
}
.fa-info:before {
    margin: 0.2rem 0 0.2rem 0.5rem;
    font-size: 0.8rem;
}

/* ///////////////////// */

/*________partie Hosting________*/

#block2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hosting {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 870px;
    padding-bottom: 0 1rem;
}
.hosting > a > h5 {
    margin: 1rem 0 1rem 1.3rem;
}
.hostingTitle {
    margin : 1rem 0 0 1.3rem;
}
.hostingItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.hostingCard {
    border-radius: 20px;
    height: 230px;
    width: 28%;
    border-radius: 1rem;
    background-color: white;
    border: 2px solid #f2f2f2;
    padding: 0.3rem;
    margin-top: 0.5rem;
}
.hostingCardImg {
    height: 60%;
    width: 100%;
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
}
.hostingCardBody {
    height: calc(40% - 0.5rem);
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hostingCardBodyH5 {
    font-size: 100%;
    font-weight: bold;
    color: black;
}
.hostingCardBodyP {
    font-size: 80%;
    margin: 0;
    color: black;
}
.showMore {
    margin : 1rem 0 0 2rem;
    width: 120px;
}
.showMore > a {
    color: black;
    font-size: 1.2rem;
}
.showMore > a:hover {
    color : #0065FC;
}
.showMore:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}

/*_____effet de style hover pour hosting______*/
.hostingCard:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}


/*________partie most popular________*/

.mostPopular {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 306px;
    padding: 0 1rem 0 1rem;
    border-radius: 20px;
    padding-bottom:2rem;
   }
.mostPopularTitle {
    Display:flex;
    justify-content: space-between;
    margin-top: 1rem ;
}
.fa-chart-line {
    font-size: 1.5rem;
}

.mostPopularCard {
    display: flex;
    flex-direction: row ;
    height: 150px;
    width: 95%;
    margin: 0.5rem 0;
    padding: 0.3rem;
    border-radius: 20px ;
    background-color: white;
    border: 2px solid #f2f2f2;
}
.mostPopularCardImg {
    height: 100%;
    width: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 0 0 20px;
}
.mostPopularCardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    margin : 0.5rem;
}   
.mostPopularCardBodyTop > h5 {
    font-size: 100%;
    font-weight: bold;
    color: black;
}
.mostPopularCardBodyTop > p {
    font-size: 80%;
    margin: 0;
    color: black;
}
/*_____effet de style hover pour mostPopular______*/

.mostPopularCard:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}



/* ///////////////////// */
/*_________partie activité ________*/
#block3  {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.activitiesTitle {
    margin : 1rem 0 1rem 1.3rem;
}
.bock3  {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.testCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 600px;
}
.activitiesCardImg1 {
    height: 560px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
.activitiesCardImg2{
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.activitiesCardImg3 {
    height: 340px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.activitiesCardImg4 {
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}

.activitiesCardg1 {
    border-radius: 20px ;
    height: 600px;
    width: 23%;
    border: 1px #f2f2f2 solid;
    box-shadow: 2px 2px 2px #f2f2f2;
}
.activitiesCardg1 > a {
    color: black;
    font-weight: bold;
}
.activitiesCardg2 {
    border-radius: 20px ;
    height: 290px;
    width: 100%;
    border: 1px #f2f2f2 solid;
    box-shadow: 2px 2px 2px #f2f2f2;
}
.activitiesCardg2 > a {
    color: black;
    font-weight: bold;
}
.activitiesCardg3 {
    height: 380px;
    border: 1px #f2f2f2 solid;
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 20px ;
}
.activitiesCardg3 > a {
    color: black;
    font-weight: bold;
}
.activitiesCardg4 {
    height: 200px;
    border: 1px #f2f2f2 solid;
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 20px ;
}
.activitiesCardg4 > a {
    color: black;
    font-weight: bold;
}
.card-body {
    margin: 0.5rem 0 0 0.5rem;
}
/*_______effet de style hover pour activité______*/

.activitiesCardg1:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.activitiesCardg2:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.activitiesCardg3:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.activitiesCardg4:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}

/*_____________________*/


/* _______FOOTER_______ */

#contact {
    height: 180px;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    justify-content: flex-start;
    padding-top: 2rem;
       
}
.about {
    margin: 1rem 12rem 0 1rem;
}
.accommodation {
    margin: 1rem 12rem 0 1rem;
}
.help {
    margin: 1rem 0 0 1rem;
}

/*_________effet de style pour le footer____*/


.text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10 {
    margin-top: 0.5rem;
}
.text1 > a, .text2 > a, .text3 > a, .text4 > a {
    color: black;
}
.text1 > a:hover, .text2 > a:hover, .text3 > a:hover, .text4 > a:hover {
    color : #0065FC;
    
}
.text1:hover, .text2:hover, .text3:hover, .text4:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.text5 > a, .text6 > a, .text7 > a {
    color: black;
}
.text5 > a:hover, .text6 > a:hover, .text7 > a:hover {
    color : #0065FC;
    
}
.text5:hover, .text6:hover, .text7:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.text8 > a, .text9 > a, .text10 > a {
    color: black;
}
.text8 > a:hover, .text9 > a:hover, .text10 > a:hover {
    color : #0065FC;
    
}

.text8:hover, .text9:hover, .text10:hover {
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.accommodation > a {
    color: black;
}
.accommodation > a:hover {
    color : #0065FC;
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.help > a {
    color: black;
}
.help > a:hover {
    color : #0065FC;
    transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
/* ____________________ */

/*______RESPONSIVE______*/

/*_______________desktop____________________*/
@media screen and (max-width: 1239px) {
.logo {
    position: absolute;
}

.underLine {
    border-bottom : 2px #F2F2F2 solid;
    position: absolute;
    justify-content: space-around;
}
.underLine:hover {
    border-bottom : 2px #0065FC solid;
}
.registerMenu {
    width: 100%;
}
.nav {
    margin-top: 3rem;
    width: auto;
    }
.navItem {
    position: absolute;
    right: 40px;
    top : 40px;
}
.hosting {
    width: 100%;
}
.mostPopular {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    margin-top: 2rem;
}
@media all and (max-width: 900px) {

}