@font-face {
    font-family: "Raleway";
    src:
        url(Fonts/Raleway-VariableFont_wght.ttf)
        url(Fonts/Raleway-Italic-VariableFont_wght.ttf)
}

body {
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.testa {
    width: 1300px;
}
.p {
    font-family: "Raleway-Bold";
}
.card-body {
    padding: 1.25rem !important;
}

/* _______HEADER_______ */

.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo{
    height: 50px;
}
.logoImg {
    height: 100%;
}
.registerMenu{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin: 20px;
}
li:hover nav-item {
    color: black;

}

/* ____________________ */


/* ________MAIN________ */

#block1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info {
    font-size: x-large ;
    font-family: Raleway-Bold;
    text-align: justify;
}
.searchBarZone {
    width: 400px;
}
.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.filtersItem {
    display: flex;
    align-items: center;
    border-right: 2px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    height: 40px;
    padding-right: 10px;
    border-radius: 20px;
}
.filtersItemIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color :#0065FC;
    height: 100%;
    width: 40px;
    border-radius: 40px;
    margin-right: 10px;
}
.filtersItemH3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 100%;
    margin: 0;
	padding: 0;
}
.information {
    

}

/* ///////////////////// */

#block2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hosting {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 900px;
    padding: 0 1rem;
}
.hosting > h3 {
    margin: 1rem 0 0 1.3rem;
}
.hostingItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.hostingCard {
    border-radius: 20px !important;
    height: 230px;
    width: 260px;
    border-radius: 1rem;
    background-color: white;
    border: 2px solid #f2f2f2;
    padding: 0.3rem;
    margin-top: 0.5rem;
}
.hostingCardImg {
    height: 130px;
    width: 100%;
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    
}
.hostingCardBody {
    height: 100px;
    margin: 0.5rem;
}
.hostingCardBody > h5 {
    font-size: 100%;
    font-weight: bold;
}
.hostingCardBody > p {
    font-size: 80%;
    margin: 0;
}
.hosting > h5 {
    margin: 1rem 0 1rem 1.3rem;
}

.mostPopularTitle {
    display:flex;
    justify-content: space-between;
}
.mostPopular {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 360px;
    padding: 0 1rem;
    border-radius: 20px;
}
.mostPopularCard {
    display: flex;
    flex-direction: row !important;
    height: 150px;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.3rem;
    border-radius: 20px !important;
}
.mostPopularCardImg {
    height: 100%;
    width: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 0 0 20px;
}
.mostPopularCardBody {
    width: 220px;
}


/* ///////////////////// */

#block3 {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.bock3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.testcard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 600px;
}
.activitiesCardImg1{
    height: 600px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
.activitiesCardImg2{
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.activitiesCardg1 {
    border-radius: 20px !important;
    height: 600px;
    width: 23%;
}
.activitiesCardg2 {
    border-radius: 20px !important;
    height: 280px;
    width: 100%;
}
.img-act {
    height: 200px;
}

/*_____________________*/


/* _______FOOTER_______ */

#contact {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    justify-content: space-around;
}
.about {

}
.accommodation {

}
.help {

}


/* ____________________ */