@media screen and (max-width: 767px) {

    .container {
        max-width: 767px;
        width: 100%;
    }
    h3 {
        margin-bottom: 1rem;
    }

    /* ######HEADER###### */

    .logo {
        margin-left: 1rem;
    }
    
    .registerMenu {
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .underline {
        position: absolute;
        top: 90px;
        right: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .navItem {
        display: flex;
        align-items: center;
    }

    .navItemUnderline1, .navItemUnderline2 {
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #f2f2f2;
    }

    .navItemUnderline1:hover, .navItemUnderline2:hover{
        border-bottom: 2px solid blue;
    }
    
    /* ################ */


    /* ######MAIN###### */

    #block1 {
        align-items: center;
        padding: 0 1rem;
        margin-top: 2rem;
    }

    .info {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .sub-info {
        align-self: flex-start;
        margin: 0;
    }
    
    /* ##### SearchBar ##### */
    .searchBarZone {
        margin: 1rem 0;
    }

    .searchBarZoneForm {
        display: flex;
        justify-content: center;
    }

    .inputGroup {
        position: relative;
    }

    .searchBarZoneFormInput {
        width: 250px;
    }

    .input-group-btn {
        position: absolute;
        right: -10px;
    }

    .btnSearch {
        width: 40px;
        border-radius : 10px 10px 10px 10px;
    }
    
    .btnSearchZone {
        display: none;
    }
    /* ################# */

    /* ##### Filters ##### */
    .filters {
        flex-wrap: wrap;
    }
    
    .filtersTitle {
        align-self: flex-start;
        width: 100%;
        padding-left: 0.6rem;
    }
    .filtersTitle > h4 {
        margin: 0;
    }
    .filtersItem {
        margin: 0.5rem 0.5rem 0 0.5rem;
    }
    /* ################### */


    /* ####### Hosting ####### */
    #block2 {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .hosting {
        width: 100%;
        padding: 0rem 1rem;
    }
    .hosting > a > h5 {
        margin: 1rem 0 1rem 1.3rem;
    }

    .hostingCard {
        min-width: 250px;
        width: 100%;
        padding: 0.3rem;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 5px #f2f2f2;
    }

    .hostingCardImg {
        height: 138px;
        border-radius: 1rem;
    }

    .hostingCardBody {
        padding : 0.5rem 1rem;
    }
    
    /* ################### */

    /* ####### Most popular ####### */
    .mostPopular {
        width: 100%;
        padding:1rem ;
        margin-bottom: 1rem;
    }
    .mostPopularTitle {
        margin: 1rem 1rem 0 1rem;
    }
    .mostPopularTitleIcon {
        align-items: flex-start
    }
     .mostPopularCardSection {
        display: flex;
        flex-direction: column;
    }
    .mostPopularCard {
        height: 150px;
        width: calc(100% - 4px - 0.6rem);
        margin: 0 0 0.5rem 0;
        padding: 0.3rem;
    }
    
    .mostPopularCardImg {
        min-width: 140px;
    }
    .mostPopularCardBodyTop > h5 {
        font-size: 100%;
        font-weight: bold;
        color: black;
    }
    .mostPopularCardBodyTop > p {
        margin: 0;
    }
    .mostPopularShowMore {
        display: none
    }

    /* ################### */

    /*######## Activités ######*/
    
    #block3  {
        width: calc(100% - 2rem);
        padding:0 1rem;
    }
    .activitiesCardSection  {
        flex-direction: column;
    }
    .activitiesCardDuo{
        width:100%;
    }
    .activitiesCard {
        margin-bottom: 1rem;
        width: 100%;
        height: 200px;
    }
    .activitiesCardImg {
        height: 75%;
    }
    /* ################### */

    
    /* #######FOOTER####### */

    footer {
        flex-direction: column;
        padding-top: 1rem;
        padding-left: 2rem;
    }
    
    /* ################### */
}